.contacts__title {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 auto;
  max-width: 300px;
  color: #000000;
  background-color: rgb(83, 154, 225);
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 0 0 #000000;
  box-sizing: border-box;
}

.card-wrapper {
  padding: 20px 10px;
}

.card__image {
  width: 100%;
}

.card__link {
  color: #000000;
}

.card__link:hover {
  color: rgb(23, 56, 133);
}
